h1 {
    color: red;
    }

.texteSimple{
    color: blue;

}
.profil-wrap{
  padding-top: 3em;
  display: flex;
  align-items: center;
}

.profil-wrap a{
  margin: auto;
  background-color: black;
  border-radius: 50%;
}

.profil{
  width: 13em;
  height: 11em;
  margin: auto;
  margin-top: 3px;
  padding: 0 3px;
  border-radius: 50%;
  transition: all 1s ease-out;
}

.profil:hover{
  opacity:0.7;
}